@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   GLOBAL BACKGROUND
   ========================= */
html,
body,
#root {
  min-height: 100vh;
  background-color: #1F3A5F; /* light grey background */
  
}

/* =========================
   DEFAULT BODY STYLES
   ========================= */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================
   CODE FONT
   ========================= */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
